sudo: false
cache:
directories:
- $HOME/.cache/pip

language: python


matrix:
  include:
    - python: "3.8"
      env: TOXENV=flake8
    - python: "3.8"
      env: TOXENV=mypy
    - python: "2.7"
      env: TOXENV=test-py27,codecov
    - python: "3.4"
      env: TOXENV=test-py34,codecov
    - python: "3.5"
      env: TOXENV=test-py35,codecov
    - python: "3.6"
      env: TOXENV=test-py36,codecov
    - python: "3.7"
      env: TOXENV=test-py37,codecov
    - python: "3.8"
      env: TOXENV=test-py38,codecov
    - python: "pypy"
      env: TOXENV=test-pypy,codecov
    - python: "pypy3"
      env: TOXENV=test-pypy3,codecov
    - python: "2.7"
      env: TOXENV=packaging-py27
    - python: "3.8"
      env: TOXENV=docs


install:
  - pip install tox


script:
  - tox
